* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style-type: none;
    margin: 0;

    h1, h2, h3, h4, h5, h6 {
        padding: 0;
        margin: 0;
    }
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9000;
    background-color: #ffffff;
    box-shadow: 0px 20px 10px rgba(0, 0, 0, 0.3);
}

.header__container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.header__inner {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 28px;
}

.list__link {
    font-size: 16px;
    font-weight: 400;
    transition-duration: .3s;
    color: #000;
}

.list__link:hover {
    text-decoration: underline;
}

.logo {
    font-size: 35px;
    font-weight: 600;
    color: #000;
}

.box-social {
    display: flex;
    gap: 15px;
}

.log-in {
    width: 100px;
    height: 50px;
    transition-duration: .3s;
    border-radius: 7px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 2px solid #000;
    background-color: transparent;
    color: #000;
}

.log-in:hover {
    background-color: #000;
    border: 2px solid #000;
    color: #fff;
}

.sign-in {
    width: 130px;
    height: 50px;
    transition-duration: .3s;
    border-radius: 7px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 2px solid #000;
    background-color: #000;
    color: #fff;
}

.sign-in:hover {
    background-color: transparent;
    border: 2px solid #000;
    color: #000;
}

.sidebar {
    width: 250px;
    height: 130vh;
    z-index: 5000;
    position: fixed;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    display: none;
    top: 0;
    right: 0;
    gap: 20px;
    box-shadow: 10px 10px 10px rgba(0 ,0, 0, 0.3);
    backdrop-filter: blur(10px);
    background-color: #ffffffac;
}

.open-nav {
    cursor: pointer;
    display: none;
}

.close-nav {
    cursor: pointer;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.welcome {
    background-color: rgb(133, 169, 255);
    margin: 0 auto;
}

.main__inner {
    opacity: 0;
    transform: translateY(100px);
    transition: all 1s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main__inner.visible {
    opacity: 1;
    transform: translateY(0);
}

.main__text {
    width: 600px;
    padding: 180px 0;
}

.main__title {
    font-size: 35px;
    font-weight: 500;
    line-height: 58px;
    color: #fff;
}

.main__desc {
    width: 500px;
    font-size: 16px;
    font-weight: 400;
    line-height: 31px;
    padding-bottom: 50px;
    color: #fff;
}

.btn-box {
    display: flex;
    gap: 15px;
}

.btn-1 {
    width: 130px;
    height: 50px;
    transition-duration: .3s;
    border-radius: 7px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 2px solid #fff;
    background-color: #fff;
    color: #000;
}


.btn-1:hover {
    background-color: transparent;
    border: none;
    color: #fff;
}

.btn-2 {
    width: 130px;
    height: 50px;
    transition-duration: .3s;
    border-radius: 7px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
}

.btn-2:hover {
    background-color: #fff;
    color: #000;
}

.hero {
    width: 50%;
}

.hero-main-1 {
    display: none;
}

.services {
    opacity: 0;
    transform: translateY(100px);
    transition: all 1s ease-in-out;
    box-shadow: 10px -17px 10px rgba(0, 0, 0, 0.3);
}

.services.visible {
    opacity: 1;
    transform: translateY(0);
}

.services__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 130px;
    padding-bottom: 30px;
    gap: 35px;
}


.services-text {
    width: 800px;
    padding-top: 130px;
    margin: 0 auto;
    text-align: center;
}

.services-sub {
    font-size: 35px;
    font-weight: 400;
    padding-bottom: 20px;
    color: #000;
}

.services-desc-sub {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 20px;
    color: #000;
}

.services__content {
    width: 500px;
}

.services__title {
    font-size: 30px;
    font-weight: 500;
    line-height: 49px;
    padding-bottom: 20px;
    color: #000;
}

.services__desc {
    font-size: 16px;
    font-weight: 300;
    line-height: 35px;
    padding-bottom: 50px;
    color: #000;
}

.box-services-btn {
    display: flex;
    gap: 15px;
}

.btn-3 {
    width: 130px;
    height: 50px;
    transition-duration: .3s;
    border-radius: 7px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 2px solid #000;
    background-color: #000;
    color: #fff;
}

.btn-3:hover {
    background-color: transparent;
    border: none;
    color: #000;
}

.btn-4 {
    width: 130px;
    height: 50px;
    transition-duration: .3s;
    border-radius: 7px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 2px solid #000;
    background-color: transparent;
    color: #000;
}

.btn-4:hover {
    background-color: #000;
    border: 2px solid #000;
    color: #fff;
}

.hero-services {
    width: 50%;
}

.about__inner {
    opacity: 0;
    transform: translateY(100px);
    transition: all 1s ease-in-out;
}

.about__inner.visible {
    opacity: 1;
    transform: translateY(0);
}

.about-services {
    width: 600px;
    padding-top: 190px;
    margin: 0 auto;
    text-align: center;
}

.title {
    font-size: 35px;
    font-weight: 400;
    padding-bottom: 20px;
    color: #000;
}

.desc {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 50px;
    color: #000;
}

.about__card {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.card {
    width: 280px;
    border-radius: 7px;
    text-align: center;
    border: 2px solid #000;
}

.about__title {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 10px;
    color: #000;
}

.about__desc {
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    padding-bottom: 20px;
    color: #000;
}

.card-img {
    padding: 20px 0;
}

.learn {
    font-size: 16px;
    font-weight: 600;
    transition-duration: .3s;
    color: #000;
}

.learn:hover {
    text-decoration: underline;
}

.description__text {
    width: 500px;
    padding-top: 130px;
    margin: 0 auto;
    text-align: center;
}

.description__title {
    font-size: 35px;
    font-weight: 400;
    padding-bottom: 20px;
    color: #000;
}

.description__desc {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 20px;
    color: #000;
}

.footer {
    width: 100%;
    padding: 40px 0;
    margin-top: 150px;
    box-shadow: 20px -20px 10px rgba(0 ,0, 0, 0.3);
    background-color: #000;
}

.footer .logo {
    color: #fff;
}

.list__footer__link {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

.footer__text {
    display: flex;
    justify-content: center;
    gap: 70px;
}

.footer__links {
    gap: 10px;
}

@media (max-width: 1100px) {
    .main__title {
        font-size: 27px;
        line-height: 40px;
    }

    .main__desc {
        width: 350px;
        font-size: 16px;
    }

    .header__list {
        display: none;
    }

    .open-nav {
        display: block;
    }

    .services-text {
        width: 400px;
    }

    .services-sub {
        font-size: 28px;
    }

    .services-desc-sub {
        font-size: 14px;
    }

    .services__content {
        width: 300px;
    }

    .services__title {
        font-size: 28px;
        line-height: 37px;
    }

    .services__desc {
        width: 280px;
        font-size: 14px;
        line-height: 25px;
    }

    .about-services {
        width: 400px;
    }

    .title {
        font-size: 28px;
    }

    .desc {
        font-size: 14px;
    }

    .about__card {
        flex-wrap: wrap;
    }

    .btn-3 {
        width: 110px;
    }

    .btn-4 {
        width: 120px;
    }

    .description__text {
        width: 300px;
    }

    .description__title {
        font-size: 28px;
    }

    .description__desc {
        font-size: 14px;
    }
}

@media (max-width: 750px) {
    .hero {
        display: none;
    }

    .main__inner {
        margin: 0 auto;
    }

    .main__title {
        width: 400px;
    }

    .main__desc {
        width: 400px;
    }

    .main__text {
        justify-content: center;
        margin: 0 auto;
    }

    .services-sub {
        font-size: 24px;
    }

    .services-desc-sub {
        font-size: 14px;
    }

    .services__title {
        font-size: 24px;
    }

    .services__desc {
        width: 300px;
        font-size: 10px;
    }

    .title {
        font-size: 24px;
    }

    .desc {
        font-size: 14px;
    }

    .services__inner {
        gap: 10px;
    }

    .hero-services {
        display: none;
    }
}

@media(max-width: 470px) {
    .services-sub {
        font-size: 16px;
    }

    .services-desc-sub {
        font-size: 10px;
        line-height: 20px;
    }

    .services-text {
        width: 300px;
    }

    .about-services {
        width: 300px;
    }

    .title {
        font-size: 18px;
    }

    .desc {
        font-size: 10px;
        line-height: 20px;
    }

    .main__title {
        width: 300px;
        font-size: 18px;
        line-height: 30px;
    }

    .main__desc {
        width: 300px;
        font-size: 10px;
        line-height: 20px;
    }
}